<div style="text-align:right;">
<a href=""><img src="/images/logo_icas.png" height="50px" alt="logo_icas"/></a>
<a href=""><img src="/images/logo_rebina.gif" height="50px" alt="logo_rebina"/></a>
<a href=""><img src="/images/logo_uefiscdi.png" height="50px" alt="logo_uefiscdi"/></a>
<a href=""><img src="/images/logo_usambvt.png" height="50px" alt="logo_usambvt"/></a>
</div>

<h4>Finanţare: UNITATEA EXECUTIVA PENTRU FINANŢAREA ÎNVĂŢĂMÂNTULUI SUPERIOR, A CERCETĂRII, DEZVOLTĂRII ŞI INOVAŢIEI</h4>
<p style="text-align: justify;">PROIECT 111/2014: Evaluarea potenţialului productiv, de fitoremediere şi adaptabilitate la stresul hidric, a unor genotipuri de Salix, în staţiuni improprii culturilor agricole – SAROSWE</p>
<p style="text-align: justify;">Proiecte Colaborative de Cercetare Aplicativă PN-II-PT-PCCA-2013-4 -2044</p>
